<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>エリアデータ削除</title>
	<link rel="stylesheet" type="text/css" href="/css/global.css">
  </head>

  <body>
   <a href="/top/">トップへ</a>
   <form action="/area/deleteData/" method="POST">
   	<input type="submit" name="delete" value="削除" />
   </form>
  </body>
</html>  	

