<?xml version="1.0" encoding="utf-8"?>
<Results>
 <statusCode>200</statusCode>
 <total>$searchCount</total>
 <Position>
 	<positionlat>$position.lat</positionlat>
	<positionlon>$position.lon</positionlon>
	<positiongeohash4>$position.geohash4</positiongeohash4>
	<positiongeohash5>$position.geohash5</positiongeohash5>
	<positiongeohash6>$position.geohash6</positiongeohash6>
	<positiongeohash8>$position.geohash8</positiongeohash8>
	<positiongeohashAll>$position.geohashAll</positiongeohashAll>
 </Position>
#foreach($data in $cafeList)
 <Result>
	<key>$data.key</key>
	<storeName>$data.storeName</storeName>
	<storeFlag>$data.storeFlag</storeFlag>
	<storeAddress>$data.storeAddress</storeAddress>
	<lat>$data.lat</lat>
	<lon>$data.lon</lon>
	<distance>$data.distance</distance>
	<iine>$data.iine</iine>
 </Result>
#end
</Results>