<?xml version="1.0" encoding="utf-8"?>
<Result>
	<statusCode>200</statusCode>
	<cafeKey>$returnKey</cafeKey>
	<message>成功しました</message>
	<storeSubName>$reqParam.storeSubName</storeSubName>
		<storeMainName>$reqParam.storeMainName</storeMainName>
		<storeName>$reqParam.storeName</storeName>
		<storeCaption>$reqParam.storeCaption</storeCaption>
		<zipCode>$reqParam.zipCode</zipCode>
		<phoneNumber>$reqParam.phoneNumber</phoneNumber>
		<storeFlag>$reqParam.storeFlag</storeFlag>
		<storeAddress>$reqParam.storeAddress</storeAddress>
		<lat>$reqParam.lat</lat>
		<lon>$reqParam.lon</lon>
		<tabako>$reqParam.tabako</tabako>
		<kinen>$reqParam.kinen</kinen>
		<pc>$reqParam.pc</pc>
		<koshitsu>$reqParam.koshitsu</koshitsu>
		<wifi>$reqParam.wifi</wifi>
		<shinya>$reqParam.shinya</shinya>
		<terace>$reqParam.terace</terace>
		<pet>$reqParam.pet</pet>
		<userSendFlag>1</userSendFlag>
		<delFlag>0</delFlag>
</Result>
