<?xml version="1.0" encoding="utf-8"?>
<Results>
	<statuCode>200</statusCode>
	<ResultCount>$searchCount</ResultCount>
	#foreach($data in $cafeList)
	<Result>
		<key>$data.key</key>
		<storeName>$data.storeName</storeName>
		<storeCaption>$data.storeCaption</storeCaption>
		<zipCode>$data.zipCode</zipCode>
		<phoneNumber>$data.phoneNumber</phoneNumber>
		<storeFlag>$data.storeFlag</storeFlag>
		<storeAddress>$data.storeAddress</storeAddress>
		<lat>$data.lat</lat>
		<lon>$data.lon</lon>
		<geohash5>$data.geohash4</geohash5>
		<geohash5>$data.geohash5</geohash5>
		<geohash6>$data.geohash6</geohash6>
		<geohash8>$data.geohash8</geohash8>
		<geohashAll>$data.geohashAll</geohashAll>
		<geohashAround>$data.geohashAround</geohashAround>
		<tabako>$data.tabako</tabako>
		<kinen>$data.kinen</kinen>
		<pc>$data.pc</pc>
		<koshitsu>$data.koshitsu</koshitsu>
		<wifi>$data.wifi</wifi>
		<shinya>$data.shinya</shinya>
		<terace>$data.terace</terace>
		<pet>$data.pet</pet>
		<dateMuki>$data.dateMuki</dateMuki>
		<only>$data.only</only>
		<friendMattari>$data.friendMattari</friendMattari>
		<manyPerson>$data.manyPerson</manyPerson>
		<iine>$data.iine</iine>
		<suiteru0to1>$data.suiteru0to1</suiteru0to1>
		<suiteru1to2>$data.suiteru1to2</suiteru1to2>
		<suiteru2to3>$data.suiteru2to3</suiteru2to3>
		<suiteru3to4>$data.suiteru3to4</suiteru3to4>
		<suiteru4to5>$data.suiteru4to5</suiteru4to5>
		<suiteru5to6>$data.suiteru5to6</suiteru5to6>
		<suiteru6to7>$data.suiteru6to7</suiteru6to7>
		<suiteru7to8>$data.suiteru7to8</suiteru7to8>
		<suiteru8to9>$data.suiteru8to9</suiteru8to9>
		<suiteru9to10>$data.suiteru9to10</suiteru9to10>
		<suiteru10to11>$data.suiteru10to11</suiteru10to11>
		<suiteru11to12>$data.suiteru11to12</suiteru11to12>
		<suiteru12to13>$data.suiteru12to13</suiteru12to13>
		<suiteru13to14>$data.suiteru13to14</suiteru13to14>
		<suiteru14to15>$data.suiteru14to15</suiteru14to15>
		<suiteru15to16>$data.suiteru15to16</suiteru15to16>
		<suiteru16to17>$data.suiteru16to17</suiteru16to17>
		<suiteru17to18>$data.suiteru17to18</suiteru17to18>
		<suiteru18to19>$data.suiteru18to19</suiteru18to19>
		<suiteru19to20>$data.suiteru19to20</suiteru19to20>
		<suiteru20to21>$data.suiteru20to21</suiteru20to21>
		<suiteru21to22>$data.suiteru21to22</suiteru21to22>
		<suiteru22to23>$data.suiteru22to23</suiteru22to23>
		<suiteru23to24>$data.suiteru23to24</suiteru23to24>
	</Result>
	#end
</Results>