<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>エリアデータGeoデータ更新</title>
	<link rel="stylesheet" type="text/css" href="/css/global.css">
  </head>

  <body>
  	#if($uploadFlag != false)
  		更新に成功しました<br />
  	#end
   <a href="/top/">トップへ</a>
   <form action="/area/handleGeoData/" method="POST">
   	<input type="submit" name="update" value="更新" />
   </form>
  </body>
</html>  	